main {
    margin: 0;
    padding: 0;
}


/* Here stylize first element in main tag. */

.contact-info #firstsection {
    width: 100%;
    height: 100%;
    background-image: url(Pictures/team1.jpg);
    background-size: 100% 100%;
    background-position: 10%;
    background-repeat: no-repeat;
}


/* Here stylize every "h1" element(PHone, address, Email). */

.contact-info #firstsection h1 {
    margin-top: 0;
    padding-top: 30%;
    padding-bottom: 20%;
}


/* Here stylize second section element in main tag which is contains contact imformation. */

.contact-info #secondsection {
    width: 100%;
    background-color: #505050;
}

.contact-info section article div h1 {
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
    color: white;
    font-size: 1.5em;
}

.contact-info article div p {
    padding-top: 3%;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    font-size: 1.2em;
    color: white;
}