main {
    margin-top: 0px;
    margin-bottom: 0px;
}


/* Here stylize conted in main tag.*/

.container {
    width: 100%;
    height: 10%;
    margin: 0;
    position: relative;
    background-image: url(Pictures/road.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


/* Here stylize box of picture in slider. */

.container .picture-container {
    overflow: hidden;
    width: 70%;
    height: 30%;
    margin: 0 auto;
}


/* Here stylize picture. */

.container .picture-container img {
    width: 100%;
    height: 100%;
    display: block;
}


/* Here stylize left button box. */

.container .leftButton-holder {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}


/* Here stylize right button box. */

.container .rightButton-holder {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}


/* Here stylize left button. */

.container #leftButton {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 40%;
    left: 0px;
}


/* Here stylize right button. */

.container #rightButton {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 40%;
    right: 0px;
}